.form {
  &__item {
  }
}
.input {
  &__name {
  }
}
.change {
  &__body {
    display: flex;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 20px 50px rgba(0, 73, 123, 0.15);
    height: 47px;
    border-radius: 10px;
    overflow: hidden;
    gap: 20px;
  }

  &__item {
    flex: 0 1 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.75;
    cursor: pointer;
    &.active {
      background-color: $white;
      color: $black;
      position: relative;
      cursor: auto;
      &:after {
        content: '';
        //   background-color: $white;
        position: absolute;
        top: 0;
        left: -20px;
        width: 0;
        height: 0;
        border-bottom: 48px solid $white;
        border-left: 20px solid #ffffff00;
      }
      &::before {
        content: '';
        //   background-color: $white;
        position: absolute;
        top: 0;
        right: -20px;
        width: 0;
        height: 0;
        border-top: 48px solid $white;
        border-right: 20px solid #ffffff00;
      }
    }
    &:nth-child(1) {
      &.active {
        &::after {
          display: none;
        }
      }
    }
  }
}
