.privacy {
  &__title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  &__body {
    padding-bottom: 30px;
    p {
      font-size: 16px;
      line-height: 120%;
      margin-bottom: 15px;
    }
  }
}
