@import '_null.scss';
@import '_mixin';
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: linear-gradient(12.65deg, rgba(0, 0, 0, 0.75) 7.11%, rgba(0, 0, 0, 0.0001) 92.89%),
    rgba(170, 170, 170, 0.0001);
}
html {
  &.lock {
    overflow: hidden;
  }
}
body {
  color: $black;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;

  // background: linear-gradient(45.08deg, #0044f2 0.13%, #0079f2 51.24%, #5edfff 100%, #20a6f9 100%),
  //   #138ff6;
  &._lock {
    overflow: hidden;
  }
  &.lock {
    overflow: hidden;
  }
}
main {
  flex: 100%;
}

[class*='__container'] {
  max-width: 450px;
  margin: 0 auto;
  padding: 0px 15px;
}

@import '_main';
@import '_change';
@import '_slider';
@import '_privacy';

.why {
  &__container {
    background-color: $white;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    text-align: center;
    padding: 25px 15px;
    font-weight: 700;
    font-size: 28px;
  }
}
.regard {
  &__container {
    padding: 25px 15px;
    // font-weight: 700;
    font-size: 22px;
    text-align: center;
    border-bottom: 1px solid $black;
  }
}

.line {
  background: rgba(34, 34, 34, 0.12);
  height: 8px;
  width: 120%;
  margin: 20px 0px;
}

// @keyframes glowing {
//   0% {
//     box-shadow: 0 0 -40px #cfd4e6;
//   }
//   40% {
//     box-shadow: 0 0 40px #cfd4e6;
//   }
//   60% {
//     box-shadow: 0 0 40px #cfd4e6;
//   }
//   100% {
//     box-shadow: 0 0 -40px #cfd4e6;
//   }
// }

// .button-glow {
//   animation: glowing 4000ms infinite;
// }
.max {
  font-size: 60px;
  padding: 0px 10px;
  padding-bottom: 30px;
  font-weight: 700;
}
.min {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: normal;
}

.select {
  color: #ffffffd6;
}

.change__line {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background: #0079f2;
    height: 126%;
    width: 4px;
    top: -8%;
    left: 49%;
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }
}
